bar {
  # font pango:Inconsolata for Powerline 11
  font pango: Hack Nerd Font Regular 10
  # font pango: JetBrainsMono Nerd Font Regular 10

  position top
  status_command /usr/bin/bumblebee-status \
                  -m spotify arch-update cpu memory disk battery amixer datetime dunstctl \
                  -p disk.path="/home" datetime.format="%d %b %Y, %a %H:%M" \
                  datetime.left-click="$HOME/.config/i3/show-calendar.sh" \
                  pulseout.right-click="pavucontrol" \
                  arch-update.left-click="alacritty -e sudo pacman -Syu" \
                  -t ~/.config/i3/bumblebee-themes/catppuccin-frappe

  tray_output HDMI-1

  colors {
    background         $base
    statusline         $text
    focused_statusline $text
    focused_separator  $base
    focused_workspace  $base $base $blue
    active_workspace   $base $base $surface1
    inactive_workspace $base $base $surface1
    urgent_workspace   $base $base $surface1
    binding_mode       $base $base $surface1
  }
}
