bar {
  # font pango:Inconsolata for Powerline 11
  font pango: Hack Nerd Font Regular 10
  # font pango: JetBrainsMono Nerd Font Regular 10

  position top
  status_command /usr/bin/bumblebee-status \
                  -m spotify arch-update cpu memory disk battery amixer datetime dunstctl \
                  -p disk.path="/home" datetime.format="%d %b %Y, %a %H:%M" \
                  datetime.left-click="$HOME/.config/i3/show-calendar.sh" \
                  pulseout.right-click="pavucontrol" \
                  arch-update.left-click="alacritty -e sudo pacman -Syu" \
                  -t ~/.config/i3/bumblebee-themes/rose-pine

  tray_output HDMI-1

colors {
    background #393552
    separator  #393552
    statusline $yellow

    # State             Border  BG      Text
    focused_workspace   #FFFFFF #EA9A97 #000000
    active_workspace    #393552 #393552 #FFFFFF
    inactive_workspace  #393552 #393552 #FFFFFF
    urgent_workspace    $love $love #393552
    binding_mode        $base00 $base0A $base00
  }
}
