configuration {
	modi: "window,drun,ssh,run,combi";
	terminal: "alacritty";
	font: "JetBrainsMono Nerd Font 12";
 	combi-modi: "window,drun,ssh";
	icon-theme: "Papirus";
	show-icons: true;
}
@theme "/home/marco/.config/rofi/themes/onedark.rasi"
